
body{
    text-align: center;
}
#top,#main{
    width: 100%;
    float: left;
}
#top{
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    table{
        width: 100%;

        >tbody>tr>#prawy, >tbody>tr>#lewy{
            width: 20%;
            >a>img{
                width: 25%;
            }
        }
        
        >tbody>tr>#srodek{
            width: 60%;
            >p{
                font-size: 130%;
            }   
        }
    }
    
}

#main{
    width: 100%;
    
    >div{
        padding-top: 1%;
        padding-bottom: 1%;
        margin: 2%;
        border-radius: 25px;
    }
    >#basic{
        padding-top: 5%;
        >img{
            width: 60%;
            box-shadow: 10px 10px rgb(0 0 0 / 0.2);
        }
        >p{
            
            b{
                margin-left: 3%;
            }
            >img{
                width: 8%;
            }   
        }
    }
    >#kalendarz{
        padding: 5%;
        >table{
            box-shadow: 5px 5px rgb(0 0 0 / 0.2);
            width: 100%;
            border-collapse: collapse;
            >tbody>tr{
                td,th{
                    border: 3px black solid;
                    width: 12.5%;
                    >img{
                        width: 75%;
                        margin-top: 15%;
                    }
                }
            }
        }
    }
    >#extras{
        padding-left: 2%;
        padding-right: 2%;
    }
    
}
body{
    background-color: rgb(230, 255, 230)
}


#top{
    background-color:rgb(102, 204, 102) ;
}
#basic,#extras,#kalendarz{
    background-color: rgb(179, 230, 179);

}
