td,th{
    border:  3px black solid;
}
table{
    border-collapse: collapse;
}
body{
    text-align: center;
}
#baner,#top,#main{
    width: 100%;
}
#top > div{
    height: 50px;
}
#prawy, #lewy{
    width: 20%;
    float: left;
}
#srodek{
    width: 60%;
    float: left;
    >p{
        
    }
}
#prawy > a> img , #lewy >a> img{
    max-width: 100%;
    width: 50px;
}